/* FONTS */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

/* HEADER */

.main-container {
  flex-grow: 1;
}

.main-header {
  background-color: #fff;
  color: #000000;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 132px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color:#000000;
  background-color: #ffffff;
  text-decoration: none;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.button {
  background-color: #756157;
  color:#ffffff;
}

/* MAIN */

.main-index {
  color: #ffffff;
  background-color: #ffffff;
  background-image: url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 1200px;
  height: 485px;
}

.welcome-img {
  margin-top: 51px;
  margin-right: 506px;
  margin-left: 506px;
}

.to-the-gorgeous-img {
  margin-top: 11px;
  margin-right: 472px;
  margin-left: 472px;
}

.hero-img {
  margin-top: 54px;
  margin-right: 372px;
  margin-left: 371px;
}

.description-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;
  width: 620px;
  height: 72px;
  margin-top: 69px;
  text-align: center;

}

.description-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  height: 26px;
}

/* ADVANTAGES */
.advantages-description-first {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  width: 230px;
  text-align: center;
  color:#333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title-first {
  color: #ffffff;
  font-weight: 700;

}

.advantages-title {
  color: #000000;
}

.advantages-item-first {
  display: flex;
  width: 1200px;
  height: 385px;
  background-color: #81b3d3;
}

.advantages-town-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.advantages-second-wrapper {
  display: flex;
  flex-direction: row;
}


.advantages-item-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);;
  width: 400px;
  height: 385px;
}

.advantages-item-evil-bridge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1200px;
  height: 385px;
}

.advantages-bridge-wrapper {
  text-align: center;
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-description-bridge {
  width: 230px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
}

.advantages-title-evil-bridge {
  text-align: center;
  width: 175px;
  height: 56px;
  color: #ffffff;
}

.advantages-item-evil-bridge {
  background-color: #81b3d3;
}

.invitation-title {
  width: 505px;
  height: 72px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.invitation-text {
  text-align: center;
  width: 490px;
  height: 26px;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.invitation-to-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}

.advantages-item-road {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}
.advantages-item-tourists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-item-house {

  text-align: center;
}

.advantages-item-souvenir {
  text-align: center;
}

/* Блок с преимуществами - Жильё и т.д */

.advantages-housing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-food-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-souvenir-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-third-wrapper {
  display: flex;
  flex-direction: row;
}

.search-hotels {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-text {
  color:#333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-search-hotels {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  width: 1200px;
  height: 415px;
  border-radius: 4px;
}

/* NEWSLETTER */

.newsletter {
  background-image: url(../images/newsletter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  height: 415px;
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;

}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.field {
  background-color: #F2F2F2;
  width: 452px;
  height: 52px;
  border-radius: 4px 0px 0px 4px;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
  height: 52px;
}

.button-subscribe-text {
  width: 132px;
  height: 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* FOOTER */

.main-footer {
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
  color: #000000;
}

.footer-tel {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
