/* FONTS */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.reset-list {  /* Для всех списков */
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.main-header {
  background-color: #fff;
  color: #000000;
  height: 66px;
}

.navigation-logo {
  z-index: 1;
}

.notification-badge {
  position: absolute;
  color: #ffffff;
  width: 20px;
  top: 11px;
  left: 945px;
  font-weight: 400;
  font-size: 10px;
  border-radius: 50%;
  background-color: #68B738;;
  text-align: center;
  line-height: 20px;
}

.navigation-item-button {
  margin-bottom: 8px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-right-wrapper {
  margin-left: auto;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0px;
  min-width: 268px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  color:#000000;
  text-decoration: none;
}

.header-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  min-width: 160px;
  background-color: #756157;
  margin-left: 20px;
}

.button {
  background-color: #756157;
  color:#ffffff;
}

/* MAIN */

.main-index {
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-index:after {
  background-image: url("../images/divider-main.svg");
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/divider-main.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-img {
  margin-top: 51px;
  margin-right: 506px;
  margin-left: 506px;
  margin-bottom: 6px;
}

.to-the-gorgeous-img {
  margin-right: 472px;
  margin-left: 472px;
}

.hero-img {
  margin-top: 54px;
  margin-right: 372px;
  margin-left: 371px;
}

.description-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  text-transform: uppercase;
  width: 620px;
  height: 72px;
  margin-top: 69px;
  text-align: center;
}

.description-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  height: 26px;
  margin-bottom: 69px;
}

/* ADVANTAGES */

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages-description-first {
  margin: 0;
  width: 230px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  width: 230px;
  text-align: center;
  color:#333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title-first {
  width: 175px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.advantages-title-first:after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-title-evil-bridge::after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-title {
  color: #000000;
  width: 175px;
  text-align: center;
}

.advantages-list-first .advantages-title:after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-item-first {
  display: flex;
  width: 1200px;
  height: 385px;
  background-color: #81b3d3;
}

.advantages-town-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 385px;
  justify-content: center;
  align-items: center;
}

.advantages-item-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);;
  width: 400px;
  height: 385px;
}

.advantages-item-evil-bridge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1200px;
  height: 385px;
}

.advantages-bridge-wrapper {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advantages-description-bridge {
  width: 230px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
  margin-top: 28px;
}

.advantages-title-evil-bridge {
  margin: 0;
  text-align: center;
  width: 175px;
  color: #ffffff;
}

.advantages-item-evil-bridge {
  background-color: #81b3d3;
}

.invitation-title {
  width: 505px;
  height: 72px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 64px;
}

.invitation-text {
  text-align: center;
  width: 490px;
  height: 26px;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.invitation-to-sedona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 64px;
}

.advantages-item-road {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}
.advantages-item-tourists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-item-house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

/* Блок с преимуществами - Жильё и т.д */

.advantages-housing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-food-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
}

.advantages-souvenir-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

/* Секция "Заинтересовались? */

.search-hotels {
  width: 1200px;
  height: 406px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-top: 95px;
}

.search-hotels-text {
  text-align: center;
  color:#333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  height: 52px;
  margin-left: 304px;
  margin-bottom: 54px;
}

.button-search-hotels {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}

/* NEWSLETTER */

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  height: 415px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin-right: 362px;
  margin-left: 362px;
}

.field {
  background-color: #F2F2F2;
  width: 452px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding-left: 20px;

}

.newsletter-button {
  background-color: #82B3D3;
  border: none;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
  cursor: pointer;
}

.button-subscribe-text {
  width: 132px;
  height: 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* FOOTER */

.main-footer {
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
  color: #000000;
}

.main-footer-container {
  display: grid;
  grid-template-columns: 142px 331px 115px;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 50px;
  padding: 40px 70px 30px 70px;
}

.html-academy-img {
  display: block;
}

.footer-tel {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Состояния элементов */

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
}

.header-button:active {
  background-color: #756157;
  color:rgba(255, 255, 255, 0.3);
}

.button-search-hotels:hover {
  background-color: #615048;
}

.button-search-hotels:focus {
  background-color: #615048;
}

.button-search-hotels:active {
  background-color: #756157;
  color:rgba(255, 255, 255, 0.3);
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus{
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color:#82B3D3;
}

.button-subscribe-text:active {
  color:rgba(255, 255, 255, 0.3);
}

.navigation-icon-vk:hover {  /* < Иконка Вконтакте */
  fill: #68A2CA;
}

.navigation-icon-vk:focus {
  fill:#68A2CA;
}

.navigation-icon-vk:active {
  fill: rgba(104, 162, 202, 0.3);
}

.navigation-icon-telegram:hover {  /* < Иконка Телеграм */
  fill: #68A2CA;
}

.navigation-icon-telegram:focus {
  fill:#68A2CA;
}

.navigation-icon-telegram:active {
  fill: rgba(104, 162, 202, 0.3);;
}

.navigation-icon-youtube:hover {  /* < Иконка Ютуба */
  fill: #68A2CA;
}

.navigation-icon-youtube:focus {
  fill: #68A2CA;
}

.navigation-icon-youtube:active {
  fill: rgba(104, 162, 202, 0.3);;
}

.footer-tel:hover {   /* < Телефон */
  color: #756157;
}

.footer-tel:focus {
  color: #756157;
}

.footer-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-academy-icon:hover {  /* < Иконка HtmlAcademy */
  fill: #756157;
}

.html-academy-icon:focus {
  fill: #756157;
}

.html-academy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-social-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;;
}

.footer-social-list li:last-child {
  line-height: 31px;
}

.footer-social-item {
  padding: 0 10px;
}

.button-socials-youtube {
  display: block;
}

